<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:layout name="Newsletter"/>

	<f:section name="Configuration">
		<flux:form id="default" label="Newsletter" icon="{f:uri.resource(path: 'Backend/Icons/Page.png')}">
			<!-- Options visible on the page property -->
		</flux:form>

		<!-- Grid displayed in the Page module -->
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="0" name="main" label="Main Content"/>
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<div class="newsletter-helper">
			If the email does not display correctly
			<f:link.page>click here</f:link.page>.
		</div>
		<div class="row" role="main">
			<div class="col-md-12" role="section">
				<v:content.render column="0"/>
			</div>
		</div>
	</f:section>
</div>
