<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">


	<f:section name="RestrictedContent">

		<v:security.allow anyBackendUser="true">
			<div class="container">
				<div class="alert alert-success">
					<hgroup>
						<h1 class="alert-header">You are logged in the Backend</h1>

						<h3>Welcome to the Fluid world!</h3>
					</hgroup>
					<p>
						This page is the built-in sample Fluid Pages template file being
						rendered by <strong>EXT:fluidpages</strong> visible for BE Users only. Looks like you set things up just
						right!

						This is message is not very useful as such. Just for displaying a few hints here and there... You can
						remove
						me anytime from
						file
						<span style=" font-size: 12px; font-family: monospace;">EXT:speciality/Resources/Private/Layouts/Page.html</span>
					</p>
				</div>
			</div>
		</v:security.allow>

	</f:section>

</div>
