<f:layout name="Page"/>
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">


	<f:section name="RestrictedContent">

		<v:security.allow anyBackendUser="true">
			<div class="container">
				<div class="alert alert-success">
					<hgroup>
						<h1 class="alert-header">Welcome to the Fluid world!</h1>

					</hgroup>
					<p>
						You are logged in the Backend! Looks like you set things up just right!

						You can remove this message anytime from file
						<span style=" font-size: 12px; font-family: monospace;">EXT:speciality/Resources/Private/Layouts/Page.html</span>.

						<br/>

						<strong>For more information checkout <a href="https://fluidtypo3.org/">Fluid powered TYPO3</a> and the
							<a href="https://fluidtypo3.org/viewhelpers.html">View Helper reference</a></strong>.
					</p>
				</div>
			</div>
		</v:security.allow>

	</f:section>

</div>
