{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page"/>
<div>

	<v:page.header>
		<f:render section="Resources" optional="true" arguments="{_all}"/>
	</v:page.header>

	<f:render section="Navigation" partial="Navigation" arguments="{_all}"/>

	<div class="container">
		<v:security.allow anyBackendUser="true">
			<div class="alert alert-success">
				<hgroup>
					<h1 class="alert-header">You are logged in the Backend</h1>

					<h3>Welcome to the Fluid world!</h3>
				</hgroup>
				<p>
					This page is the built-in sample Fluid Pages template file being
					rendered by <strong>EXT:fluidpages</strong> visible for BE Users only. Looks like you set things up just
					right!

					This is message is not very useful as such. Just for displaying a few hints here and there... You can remove
					me anytime from
					file <span style=" font-size: 12px; font-family: monospace;">EXT:speciality/Resources/Private/Layouts/Page.html</span>
				</p>
			</div>
		</v:security.allow>
	</div>
	<div class="container">
		<f:render section="LanguageMenu" partial="LanguageMenu" optional="true" arguments="{_all}"/>
		<f:render section="Header" partial="Header" optional="true" arguments="{_all}"/>
		<f:render section="Breadcrumb" partial="Breadcrumb" optional="true" arguments="{_all}"/>
		<f:render section="HeroUnit" partial="HeroUnit" optional="true" arguments="{_all}"/>

		<!--TYPO3SEARCH_begin-->
		<f:render section="Content"/>
		<!--TYPO3SEARCH_end-->

		<f:if condition="{v:var.typoscript(path: 'lib.disqus.display')}">
			<f:render section="Disqus" partial="Disqus" optional="true" arguments="{_all}"/>
		</f:if>
		<f:render section="Footer" partial="Footer"/>
	</div>

	<v:page.footer>
		<f:render section="Stats" partial="Stats" arguments="{_all}"/>
	</v:page.footer>
</div>