{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:m="http://typo3.org/ns/TYPO3/CMS/Media/ViewHelpers">

<f:section name="Configuration">
	<flux:form wizardTab="Media" id="carouselWidget"
	               icon="{v:extension.path.resources(path: 'Icons/icon-twitter.png')}">
		<flux:field.input name="categories" eval="trim" default="4"/>
		<flux:field.input name="width" eval="trim" default="600"/>
		<flux:field.input name="height" eval="trim" default="170"/>
		<flux:field.checkbox name="caption" default="1"/>
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column>
				</flux:grid.column>
			</flux:grid.row>
		</flux:grid>
	</flux:form>
</f:section>

<f:section name="Preview">
	<flux:widget.grid/>
	<table>
		<tr>
			<td>Categories:</td>
			<td>{categories}</td>
		</tr>
		<tr>
			<td>width:</td>
			<td>{width}</td>
		</tr>
		<tr>
			<td>Caption:</td>
			<td>{caption}</td>
		</tr>
	</table>
</f:section>

<f:section name="Main">
	<div class="widget-carousel">
		<m:widget.carousel categories="{categories}" width="{width}" height="{height}" caption="{caption}" />
	</div>
</f:section>

</div>